:root {
  /* Variables for color */
  --primary-color: #36b3a8;
}

body {
  font-family: "Raleway", sans-serif;
}

/* Utilities */
.uppercase {
  text-transform: uppercase;
}

.p-color {
  color: var(--primary-color);
}

/* Navbar */
.main-nav {
  /* background: #000; */
  font-weight: 100;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}

.main-nav .navbar-brand h3 {
  font-weight: 100;
}

.main-nav .navbar-item {
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: border 0.5s;
}

/* Hover effect */
.main-nav .navbar-item:hover {
  border-bottom: 1px solid #fff;
}

/* Showcase */
#showcase {
  background: url("../img/main.jpeg") bottom center / cover no-repeat;
  min-height: 750px;
  position: relative;
}

#showcase .overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#showcase #header {
  z-index: 2;
}

#showcase h1 {
  font-family: "Questrial", sans-serif;
  line-height: 1;
}

#showcase h3 {
  text-transform: uppercase;
}

#showcase #book-btn {
  background-color: var(--primary-color);
  border: none;
  outline: none;
  font-size: 1.5rem;
  border-radius: 2rem;
  transition: opacity 0.2s;
}

#showcase #book-btn:hover {
  opacity: 0.8;
}

/* Quotes Section */
#quotes i {
  color: var(--primary-color);
  opacity: 0.3;
}

/* Media Q */
@media (max-width: 768px) {
  /* Navbar */
  .main-nav {
    background: #1f1f1f;
  }

  .main-nav .navbar-item:hover {
    border: none;
  }

  /* Showcase */
  #showcase {
    min-height: 500px;
  }

  #showcase h1 {
    font-size: 4rem;
  }
}
